PORT=4000
NODE_ENV=production
CLIENT_ORIGIN=http://localhost:5174
PUBLIC_BASE_URL=http://localhost:4000
MONGO_URI=mongodb+srv://abhinavfor2022_db_user:2F3TI9hpBBWjaJZE@cluster0.7smxy8x.mongodb.net/hhgoa?appName=Cluster0

# Cloudinary Server Credentials (Required if using backend upload routes)
CLOUDINARY_CLOUD_NAME=dh7zqanqn
CLOUDINARY_API_KEY=732638617145854
CLOUDINARY_API_SECRET=OTxl0gSmHTil-fC1aSCxReECa1Q
